* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: maroon;
    --lightest: white;
    --darkest: black;
    --medium: orange;
    --dark: rgb(70, 70, 70);
    --light: tan;
}

html {
    height: 100%;
    margin: 10px;
}

body {
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
}

header {
    height: 10vh;
    border: 1px solid var(--medium);
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-height: 80vh;
    border: 1px solid var(--medium);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

section {
    height: 30vh;
    width: 30vw;
    border: 1px solid var(--medium);
    margin: 1%;
    display: flex;
}

footer {
    height: 10vh;
    border: 1px solid var(--medium);
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

